*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #79b799;
}

#header {
  font-size: 25px;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  text-align: center;
}

p,
label,
input,
#choice,
#joinServerButton,
#multiplayerButton {
  font-size: 12px;
}

p,
label {
  color: white;
}

#playerCountBox {
  position: absolute;
  right: 0;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
}
#playerCountBox * {
  color: white;
  font-size: 20px;
}

select,
input {
  height: 25px;
}

button,
#joinServerButton {
  cursor: pointer;
}

#container {
  border: 2px solid black;
  position: absolute;
  /* top, right, bottom, left */
  /* inset: 10% 20% 10% 20%; */
  top: 50%;
  /* aligns the top edge to the vertical center of the parent container */
  left: 50%;
  /* aligns the left edge to the horizontal center of the parent container */
  transform: translate(-50%, -50%);
  /* moves the div back and scales it up */
  display: grid;
  grid-template-columns: 20% 80%;
  /* grid-template-columns: 20% 70% 10%; */
  /* grid-template-rows: 10% 90%; */
}

#sidebar * {
  width: 100%;
  /* border: 1px solid red; */
}

#sidebar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  row-gap: 50px;
  padding: 5px;
}

#gameBoard {
  /* display: flex; */
  /* flex-flow: column wrap; */
  /* justify-content: center; */
  padding: 10px;
  text-align: center;
}

#gameWindow {
  margin: 0 auto;
  border-spacing: 0;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

td {
  position: relative;
  height: 25px;
  width: 25px;
  text-align: center;
  background-color: lightgray;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  font-size: 90%;
  font-weight:bold;
  -webkit-text-stroke-width: .001px;
  -webkit-text-stroke-color: black;
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'Press Start 2P', cursive;
}

td:hover {
  background-color: rgba(200, 200, 200, 1);
}

button {
  /* all: unset; */
  position: relative;
  cursor: pointer;
  /* border-style: solid; */
  border-width: 2px;
  border-color: black;
}

.buddyButton {
  display: flex;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  text-align: center;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  /* background: lightgray url(./img/smile-icon.png);
  background-repeat: no-repeat;
  background-position: 50%; */
}

.buddyButton:active {
  transform: translate(.35px, .35px);
}

.flagButton {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background: lightgray url(./img/flag-icon.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.flagButton:active {
  transform: translate(.35px, .35px);
}

button.flagButton .flagCounter {
  font-size: 10px;
  font-weight: 700;
  color: brown;
  position: absolute;
  top: 0px;
  left: 2px;
}

img.flagOnMine {
  position: absolute;
  top: 30%;
  left: 20%;
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
  pointer-events: none;
}

.playAgainButton {
  max-width: 80px;
  background-color: lightgray;
  text-align: center;
  padding: 5px;
  align-items: center;
  margin-left: 10px;
  border-radius: 10px;
}

.playAgainButton:active {
  transform: translate(.35px, .35px);
}

#joinServerButton:hover,
.playAgainButton:hover,
.buddyButton:hover,
.flagButton:hover {
  opacity: .75;
}

.buddyImg {
  max-width: 25px;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  height: auto;
  display: block;
  margin: auto;
  pointer-events: none;
}

#joinServerButton {
  background-color: lightgray;
}

#joinServerButton span {
  display: inline-block;
}

#joinServerButton:active span {
  transform: translate(.35px, .35px);
}