body {
  background-color: #79b799;
}

* {
  padding: 0;
  margin: 0;
}

.selection {
  margin-top: 20px;
}

label {
  color: white;
}

table {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-spacing: 0;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

td {
  height: 25px;
  width: 25px;
  text-align: center;
  background-color: lightgray;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

td:hover {
  background-color: rgba(200, 200, 200, 1);
}

.selection {
  text-align: center;
}

button {
  all: unset;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

button:hover {
  background-color: rgba(200, 200, 200, 1);
}

.playAgainButton {
  background-color: lightgray;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.flagButton {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background: lightgray url(./img/flag-icon.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

img {
  width: 60%;
  margin: auto;
  display: block;
  pointer-events: none;
}